
<footer class="siteFooter container">
	<p>v0.1 Build info</p>
	<ul class="legal noList">
		<li>Fonts used X. Blog powered by Middleman. Hosted by GitHub Pages.</li>
		<li>A product of too much coffee, ice cream sandwiches and the overconfidence developed in a weekend Rails workshop.</li>
		<li>&copy; 2015 Ang&eacute;lique Weger</li>
		<li><a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a></li>
	</ul>
	<!-- Eventually add in a twitter widget and list of talks, etc. -->
</footer>